.buttonText {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0%;
}

@media (max-width: 480px) {
  .buttonText {
    font-size: 14px;
    line-height: 20px;
  }
}

