:root {
  /* Text Colors */
  --color-text-default: #FFFFFF;
  --color-text-secondary: rgba(255, 255, 255, 0.64);
  --color-text-accent: #F2BE5F;
  --color-text-default-inverse: #141414;
  --color-text-secondary-inverse: rgba(20, 20, 20, 0.52);
  --color-text-critical: #F04438;
  --color-text-disabled: rgba(255, 255, 255, 0.4);

  /* Background Colors */
  --color-bg-default: #141414;
  --color-bg-accent-default: #F2BE5F;
  --color-bg-accent-hover: #D9A23F;
  --color-bg-accent-default-light: rgba(242, 190, 95, 0.16);
  --color-bg-neutral-search:#2F2F2F;
  --color-bg-neutral-low: #222222;
  --color-bg-neutral-med: rgba(255, 255, 255, 0.1);
  --color-bg-transition-background: #52a4c8;

  /* Icon Colors */
  --color-icon-default: #FFFFFF;
  --color-icon-accent: #F2BE5F;

   /* Border Colors */
  --color-border-critical-default: #F04438;
  --color-border-neutral-high: rgba(255, 255, 255, 0.16);
}

