.main {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  transition: transform 0.3s ease-out, height 0.3s ease-out;
  background: url('/images/Background_Photo.png') center / cover no-repeat fixed;
}

.backgroundContainer.slideLeft {
  transform: translateX(calc(-23%));
}

@media (max-width: 1200px) {
  .backgroundContainer.slideLeft {
    transform: none;
  }

  .backgroundContainer {
    top: 0;
    background-attachment: scroll;
    width: 100%;
    transition: transform 0.3s ease-out, height 0.3s ease-out;
    background: url('/images/Background_Photo_mob.png') bottom / cover no-repeat fixed;

  }
}

@media (max-width: 768px) {
  .backgroundContainer.slideLeft {
    transform: none;
  }

  .backgroundContainer {
    top: 0;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    transition: transform 0.3s ease-out, height 0.3s ease-out;
  }

}

.logoContainer {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 10;
  width: 72px;
  height: 24px;
  cursor: pointer;
}

.logo {
  width: 72px;
  height: 24px;
}

@media (max-width: 768px) {
  .logoContainer {
    top: 16px;
    left: 20px;
    width: 54px;
    height: 18px;
  }

  .logo {
    width: 54px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  .logoContainer {
    top: 12px;
    left: 16px;
    width: 48px;
    height: 16px;
  }

  .logo {
    width: 48px;
    height: 16px;
  }
}

