.title {
  font-family: 'Bebas Neue';
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  color: var(--color-text-default);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.subtitle {
  font-family: 'Inter Tight Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-disabled);
  margin: 0;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  flex: 1;
}

.contactForm {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: 'Inter Tight Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text-secondary);
}

.input {
  font-family: 'Inter Tight Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-default);
  background-color: var(--color-bg-neutral-low);
  border: none;
  border-radius: 8px;
  padding: 16px 20px;
  height: 56px;
  width: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
}

.input:hover {
  background-color: var(--color-bg-neutral-med);
  border-color: var(--color-border-neutral-high);
}

.input:focus {
  outline: none;
  background-color: var(--color-bg-neutral-low);
  border: 1px solid var(--color-border-neutral-high);
}

.input.error {
  border: 1px solid var(--color-border-critical-default);
}

.input.error:focus {
  border: 1px solid var(--color-border-critical-default);
}

.errorMessage {
  font-family: 'Inter Tight Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--color-text-critical);
}

.input::placeholder {
  font-family: 'Inter Tight Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--color-text-disabled);
}

.contactMethods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.submitButton {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.consentText {
  font-family: 'Inter Tight Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: var(--color-text-secondary);
  margin: 0;
  margin-top: 8px;
}

.consentLink {
  color: var(--color-text-default);
  text-decoration: underline;
  cursor: pointer;
}

.consentLink:hover {
  opacity: 0.8;
}

@media (max-width: 375px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}
