.optionButton {
  color: var(--color-text-default);
  background-color: transparent;
  border: 1px solid var(--color-bg-neutral-med);
  border-radius: 8px;
  padding: 10px 16px;
  height: 44px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: fit-content;
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.optionButton:hover {
  background-color: var(--color-bg-neutral-low);
  border-color: var(--color-border-neutral-high);
}

.optionButton.selected {
  background-color: var(--color-bg-accent-default-light);
  border-color: var(--color-bg-accent-default);
  color: var(--color-text-accent);
}

@media (max-width: 600px) {
  .optionButton {
    height: 40px;
  }
}
