.buttonText {
  font-family: var(--font-inter-tight), system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0%;
}

@media (max-width: 1200px) {
  .buttonText {
    font-size: 14px;
  }
}
