.button {
  background-color: var(--color-bg-accent-default);
  color: var(--color-text-default-inverse);
  border: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;
  width: 100%;
  max-height: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--color-bg-accent-hover);
}

.button:disabled {
  background-color: var(--color-bg-accent-default-light);
  opacity: 1;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 375px) {
  .button {
    max-height: 44px;
  }
}
