.successScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.successIcon {
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
}

.title {
  font-family: var(--font-bebas-neue), var(--font-inter-tight), system-ui, sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 38px;
  letter-spacing: 0%;
  color: var(--color-text-default);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.message {
  font-family: var(--font-inter-tight), system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-secondary);
  margin-bottom: 15px;
}

.buttonWrapper {
  margin-top: auto;
}

@media (max-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 38px;
  }

  .message {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .successIcon {
    width: 48px;
    height: 48px;
  }

  .title {
    font-size: 28px;
    line-height: 32px;
  }

  .message {
    font-size: 14px;
    line-height: 20px;
  }
}
